<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <H1> {{ nom_ese }} ({{ sigle }}) </H1> <!--<img src="https://assets.codepen.io/6093409/sprocket.svg" alt="Logo HubSpot" width=100% height=100%/> -->
    </br>
    <!-- <H2> {{logo_ese}}</H2> -->
    </br>
    <H2> {{slogan}}</H2>
    </br>
    <H2> {{ville_siege}} - {{pays}}</H2>
    </br>
    <H2> {{ phone1 }}</H2>
    </br>
    <H2> {{ email_ese }}</H2>
    </br>
    <p>Date :<strong> {{ date }}</strong></p>

    <strong> Notification de création de compte d'utilisateur. </strong>

    <p style="color: rgb(93, 0, 255);">Mr/Mme {{ full_name }}, nous venons vous informer 
        que vous possédez désormais un compte utilisateur pour l'accès à notre application 
        de gestion du parc automobile, avec comme droit d'accès {{ access }}. ce niveau d'accès 
        vous permettra de .......  </br> Voici vos identifiant: </br> Nom utilisateur: {{ email }} 
    </br> Mot de passe: {{ password }} </br> Lien de l'application : {{ url }}</p>

    <em> Bien vouloir modifier votre mot de passe après votre connexion sur la plate forme </em>     
    
</body>
</html>